.root{
    -fx-background-color: #df7213;
}

#startBtn{
    -fx-background-image: url('../Pictures/start.png');
    -fx-background-position: center;
    -fx-background-color: #df7213;
    -fx-background-repeat: no-repeat
}